<!doctype html>
<html ng-app="Techtalk">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Techtalk</title>
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="content/css/bootstrap.css">
    <link rel="stylesheet" href="content/css/styles.css">
    <link rel="shortcut icon" href="content/images/favicon.ico">
  </head>
  <body>
  
  <div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <a href="#/" class="navbar-brand"><i class="ion-social-reddit-outline"></i> Techtalk</a>
        <li><a href="#/">Home</a></li>
        <li ng-if="!isAuthenticated()"><a href="#/chat">Chat</a></li>
        <li ng-if="isAuthenticated()"><a ng-click="logout()" href="">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="isAuthenticated() && currentUser.name">
          <a href="#" class="niname-overflow">
            <img class="media-object img-rounded" width="30" height="30" src="content/images/avatar.png">
            @{{currentUser.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <div ng-view></div>
  
  <script src="content/js/socket.io.min.js"></script>
  <script src="content/js/jquery.min.js"></script>
  <script src="content/js/angular.min.js"></script>
  <script src="content/js/angular-route.min.js"></script>
  
  <script src="app/app.js"></script>
  <script src="app/services/api-service.js"></script>
  <script src="app/directives/main-directive.js"></script>
  
  <script src="app/controllers/home.js"></script>
  <script src="app/controllers/navbar.js"></script>
  <script src="app/controllers/chat.js"></script>
</body>
</html>
